.skillContainer {
    position: absolute;
    width: 20px;
    height: 20px;
}

.skillCircle {
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: rgba(255, 122, 0, 1);
}
