.professionItem {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 10px;
    font-weight: bold;
}

.circleItem {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(173, 173, 173, 1);
}
.selected {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(0, 163, 114, 1);
}
